{% extends "base.html" %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static "frontend/css/home-style.css" %}">
{% endblock style %}

{% block content %}

<main>
	<div class="container">

		<div id="carousel" class="carousel slide" data-ride="carousel">
				<a class="carousel-control-prev carousel__control justify-content-start" href="#carousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
				</a>

				<div class="carousel-inner">

					<div class="carousel-item active">

						<div class="item-inner d-flex">
							<span class="game-item__main-img-container flex-fill"><img src="{% static 'frontend/images/slider/b/b1.png' %}" class="game-item__main-img" alt="" width="518" height="460"></span>
							<div class="item-inner__card d-flex flex-wrap">
								<a href="#" class="item-inner_link">
									<span class="game-item_img flex-fill">
										<img src="{% static 'frontend/images/slider/s/s (1).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (2).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (3).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (4).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
							</div>
							
								
						</div>	
					</div>

					<div class="carousel-item">

						<div class="item-inner d-flex">
							<span class="game-item__main-img-container flex-fill"><img src="{% static 'frontend/images/slider/b/b2.png' %}" class="game-item__main-img" alt="" width="518" height="460"></span>
							<div class="item-inner__card d-flex flex-wrap">
								<a href="#" class="item-inner_link">
									<span class="game-item_img flex-fill">
										<img src="{% static 'frontend/images/slider/s/s (5).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (6).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (7).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (8).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
							</div>
							
								
						</div>	
					</div>

					<div class="carousel-item">

						<div class="item-inner d-flex">
							<span class="game-item__main-img-container flex-fill"><img src="{% static 'frontend/images/slider/b/b3.png' %}" class="game-item__main-img" alt="" width="518" height="460"></span>
							<div class="item-inner__card d-flex flex-wrap">
								<a href="#" class="item-inner_link">
									<span class="game-item_img flex-fill">
										<img src="{% static 'frontend/images/slider/s/s (9).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (10).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (11).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (12).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
							</div>
							
								
						</div>	
					</div>

					<div class="carousel-item">

						<div class="item-inner d-flex">
							<span class="game-item__main-img-container flex-fill"><img src="{% static 'frontend/images/slider/b/b4.png' %}" class="game-item__main-img" alt="" width="518" height="460"></span>
							<div class="item-inner__card d-flex flex-wrap">
								<a href="#" class="item-inner_link">
									<span class="game-item_img flex-fill">
										<img src="{% static 'frontend/images/slider/s/s (13).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (14).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (15).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
								<a href="#" class="item-inner_link">
									<span class="game-item_img">
										<img src="{% static 'frontend/images/slider/s/s (16).png' %}" class="" alt="" width="308" height="177">
									</span>
									<span class="game-item__bar d-flex  justify-content-end">
										<span class="game-item__logo">
											<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
										</span>
										<span class="game-item__discont">-50%</span>
										<span class="game-item__price"> <span class="game-item__cost">599</span>р</span>
									</span>
								</a>
							</div>
							
								
						</div>	
					</div>


				</div> <!--carousel-inner-->

				<a class="carousel-control-next justify-content-end carousel-control" href="#carousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
				</a>

				<div class="indicators">
				
					<ol class="carousel-indicators">
						<li data-target="#carousel" data-slide-to="0" class="active"></li>
						<li data-target="#carousel" data-slide-to="1"></li>
						<li data-target="#carousel" data-slide-to="2"></li>
						<li data-target="#carousel" data-slide-to="3"></li>
					</ol>

				</div>
		</div><!--carousel-->

		<div class="main-panel">
			<div class="title title-games d-flex justify-content-center">
				<div class="title-inner">
					Все игры у нас
				</div>
			</div>
			<div class="main-panel__inner d-flex flex-wrap">
				{% for item in product_images %}								
				<div class="main-panel__item">
					<a href="{% url 'product' item.product.id %}" class="">
						<div class="main-panel__item-img">
							<img src="{{item.image.url}}" alt="" width="195" height="111">
						</div>

						<span class="game-item__bar {% if item.product.discont <= 35 %} bar-green {% elif item.product.discont >= 35 and item.product.discont <= 75 %} bar-orange {% elif item.product.discont >= 75 %} bar-red {% endif %} d-flex">
							<span class="game-item__logo">
								<img src="{% static 'frontend/icon/steam.png' %}" alt="" width="27">
							</span>
							<span class="game-item__discont">-{{item.product.discont}}%</span>
							<span class="game-item__price"> <span class="game-item__cost">{{item.product.price}}</span>р</span>
						</span>
					</a>

				</div><!--main-panel__item-->
				{% endfor %}
			</div>
		</div><!--main-panel-->

		<div class="reviews">
			<div class="title d-flex justify-content-center">
				<div class="title-inner-gray">
					Отзывы
				</div>
			</div>
			<div class="reviews__inner d-flex">
				<div class="reviews__item-card d-flex flex-column justify-content-center ">
					<span class="reviews__title">2910</span>
					<span class="reviews__subtitle">Популярнейших игр</span>
				</div>
				<div class="reviews__item-card d-flex flex-column justify-content-center ">
					<span class="reviews__title">20</span>
					<span class="reviews__subtitle">Доступных методов оплаты</span>
				</div>
				<div class="reviews__item-card d-flex flex-column justify-content-center ">
					<span class="reviews__title">8</span>
					<span class="reviews__subtitle">Лет успешной работы</span>
				</div>
				<div class="reviews__item-card d-flex flex-column justify-content-center ">
					<span class="reviews__title">5 000</span>
					<span class="reviews__subtitle">Реальных отзывов</span>
				</div>
				<div class="reviews__item-card d-flex flex-column justify-content-center ">
					<span class="reviews__title">24/7</span>
					<span class="reviews__subtitle">Технической поддержки</span>
				</div>
			</div>
		</div><!--reviews-->

		<div class="info">
		
			<div class="info__inner d-flex justify-content-between">
				<div class="card p-2 w-100">
					<div class="card-body flex-fill">
						<div class="card-title">Информация</div>
						<div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ducimus necessitatibus laudantium. Praesentium quasi distinctio nisi delectus reiciendis ipsam soluta quidem, similique quae tempore deleniti unde, debitis animi pariatur hic. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas eum voluptatibus rem. Id voluptatibus iste rem reiciendis? Tenetur voluptate suscipit, eveniet debitis nesciunt placeat commodi provident. Id porro minima voluptatem aliquam maxime, nihil deleniti aspernatur non? Adipisci deleniti natus harum.</div>
					</div>
				</div>

				<div class="card">
					<div class="card-body">
						<div class="card-title">Контакты</div>
						<div class="card-subtitle">Техническая поддержка:</div>
						<div class="card-text">support@lorem.com</div>
						<div class="card-subtitle">Администрация:</div>
						<div class="card-text">admin@lorem.com</div>
					</div>
				</div>
			</div>

		</div><!--info-->
</main>


{% endblock content %}
