{% load static %}
<footer class="footer">


	<div class="footer__first d-flex justify-content-center">
		<span class="footer-first__title">
			Валюта:
				<img src="{% static 'frontend/icon/ru.png' %}" alt="" width="18" hight="auto">
			RUB | Язык: Русский (RU)
		 </span>
	</div>


	<div class="footer__second d-flex justify-content-center">
		<div class="footer__second-inner d-flex flex-column align-items-center">
			<div class="footer__logo"> <img src="{% static 'frontend/icon/logo.png' %}" alt="" width="100" hight="auto"></div>
			<div class="footer-second__title">©2019-2019 GameShop</div>
			<div class="footer-second__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nobis architecto culpa impedit molestias in, ipsam non atque quos mollitia laudantium neque provident nemo reprehenderit minima quasi animi dicta repellat tenetur a illum. Quod molestiae beatae, eos consequuntur velit voluptate!</div>
		</div>
	</div>
	

</footer>